
:root {
    --primary-color: #007bff; /* Example primary color */
    --text-color: #333; /* Common text color */
    --hover-color: #0056b3; /* Hover state color */
    --header-height: 50px; /* Adjust based on actual header height */
    --footer-height: 50px; /* Adjust based on actual footer height */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    --primary-color: #007bff; /* Example primary color */
    --text-color: #333; /* Common text color */
    --hover-color: #0056b3; /* Hover state color */
}






body {
    min-height: 100vh; /* Ensure at least viewport height */
    max-height: 100vh; /* Ensure at most viewport height */
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    max-width: 100vw;
    margin-bottom: 50px;
}




/* Ensure that the box model doesn't affect the height calculations */
*, *:before, *:after {
    box-sizing: inherit;
}

header, footer {
    flex-shrink: 0; /* Prevents header and footer from shrinking */
    max-width: 100vw;
}


header {
    z-index: 9999; /* Keeps the header on top */
    height: var(--header-height);
    max-width: 100vw;
}


main {
    background-color: #212846; /* Set the background color to #212846 */
    flex-grow: 1; /* Takes up remaining space */
    overflow: hidden; /* Adds scroll to main content if content overflows */
    z-index: 1;
    max-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: 100vw;
}

footer {
    position: fixed; /* Fix position to the bottom of the screen */
    left: 0;
    bottom: 0; /* Align to the bottom */
    background-color: #f8f9fa; /* Light grey background */
    width: 100%; /* Full width */
    display: flex; /* Flexbox for centering content */
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    padding: 0; /* No padding */
    height: 50px; /* Fixed height */
    z-index: 1000; /* High z-index to keep it above other content */
    overflow: hidden; /* Hide any overflow */
}


.navbar-toggler {
    z-index: 9999; /* Ensures highest stacking order */
    position: relative; /* z-index works on positioned elements (not static) */
}

#navbarNav {
    z-index: 9999; /* Ensures highest stacking order */
}


.navbar-brand-image {
    height: 30px; /* Adjust the size as needed */
    width: auto;
    margin-right: 5px; /* Space between the image and the text */
    border-radius: 50%; /* Makes the image circular, optional */
}

.navbar-brand {
    /* padding-left: 10px; */
    padding-right: 0.625rem; /* Assuming the root font-size is 16px, 10px is equivalent to 0.625rem */
}

.navbar-brand:hover {
    background-color: #a5afb9; /* Change to any color you prefer */
    color: #FFFFFF; /* Adjust text color for better visibility */
    border-radius: 5px; /* Optional: Adds rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
}




.nav-link:hover {

    background-color: #a5afb9; /* Change to any color you prefer */
    color: #FFFFFF; /* Adjust text color for better visibility */
    border-radius: 5px; /* Optional: Adds rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
}






.footer-icons {
    display: flex; /* Enable flexbox */
    align-items: center; /* Center icons vertically */
    justify-content: center; /* Center icons horizontally */
    padding: 0; /* No padding inside */
    margin: 0; /* No margin inside */
    height: 100%;
}


.footer-icons a {
    color: inherit; /* Maintain icon color */
    text-decoration: none; /* Remove underline */
    margin: 0 13px; /* Add spacing between icons */
    height: 100%;
}


/* Responsive design */
