

body {
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
}


.footer-icons a {
    color: inherit; /* Maintain icon color */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Add spacing between icons */
}



footer {
    background-color: #f8f9fa; /* Light grey background */
}