html, body {
    height: 100%; /* Ensures the html and body elements take up the full height of the page */
    margin: 0; /* Resets the default margin */
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum height is full viewport height */
}

.navbar-brand-image {
    height: 30px; /* Adjust the size as needed */
    width: auto;
    margin-right: 5px; /* Space between the image and the text */
    border-radius: 50%; /* Makes the image circular, optional */
}

.navbar-brand {
    /* padding-left: 10px; */
    padding-right: 0.625rem; /* Assuming the root font-size is 16px, 10px is equivalent to 0.625rem */
}

.navbar-brand:hover {
    background-color: #a5afb9; /* Change to any color you prefer */
    color: #FFFFFF; /* Adjust text color for better visibility */
    border-radius: 5px; /* Optional: Adds rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
}

.nav-link:hover {

    background-color: #a5afb9; /* Change to any color you prefer */
    color: #FFFFFF; /* Adjust text color for better visibility */
    border-radius: 5px; /* Optional: Adds rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
}



main {
    flex-grow: 1; /* Allows the main content to expand and take up any available space */
}


footer {
    background-color: #f8f9fa; /* Light grey background */
    width: 100%; /* Ensure the footer takes up the full width of the viewport */
    display: flex; /* Enable flexbox */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    margin: 0;
}

.footer-icons {
    display: flex; /* Enable flexbox */
    align-items: center; /* Center icons vertically */
    justify-content: center; /* Center icons horizontally */
    padding: 10px 0; /* Add padding for visual comfort */
    margin:0
}

.footer-icons a {
    color: inherit; /* Maintain icon color */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Add spacing between icons */
}