.main {
    display: flex; /* Enable flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Center items vertically */
    height: 100%; /* Adjust based on your layout needs */
    width: 100%;
    margin: 0; /* Removes margin */
    padding: 0; /* Removes padding */
    overflow: hidden;
}

.video-container {

    display: flex; /* Makes .video-container a flex container */
    justify-content: space-between; /* Spaces out child elements */
    position: relative; /* Establishes a positioning context */
    height: 100%; /* Adjust based on your layout needs */
    width: 100%;
    margin: 0; /* Removes margin */
}
.video-segment {
    width: 33.3%; /* Adjusts the width as needed, could be 100% or a specific width */
    height: auto; /* Adjusts the height as needed, could maintain aspect ratio */
}


#video1 {
    position: absolute; /* Changed from relative to absolute */
    top:0px; /* Aligns to the top of .video-container */
    left: 100px; /* Aligns to the left of .video-container */
    width: 500px; /* Keeps the width as previously defined */
    margin-left: 0; /* Resets any previously set margin-left */
    opacity: 0.7;
}
#video2 {
    position: absolute; /* Or 'fixed' if you want it relative to the viewport */
    top: 600px;
    left: 53%;
    width: 300px; /* Adjusts the width to a static size of 500 pixels */
    opacity: 0.5; /* Makes #video2 50% transparent */
    transform: translate(-50%, -50%); /* Centers the element */
}

#video3 {
    position: absolute; /* Changed from relative to absolute */
    top:-150px; /* Aligns to the top of .video-container */
    right: 0; /* Aligns to the right of .video-container */
    width: 500px; /* Keeps the width as previously defined */
    margin-left: 0; /* Resets any previously set margin-left */
    opacity: 0.7;
}

#background-1 {
    width: 1443px;
    height: 735px;
    background: #404E66;
}

#background-2 {
    width: 1443px;
    height: 735px;
    background: rgba(79, 75, 67, 0.6); /* Corrected the rgba values */
}

#background-3 {
    width: 1443px;
    height: 735px;
    background: #212846;
}